<span class="text-syntax-keyword">async fn</span> <span class="text-syntax-fn">delete_movie</span>(
    <span class="text-syntax-type">Path</span>(id): <span class="text-syntax-type">Path</span>&lt;<span class="text-syntax-type">i32</span>&gt;,
) -> <span class="text-syntax-type">StatusCode</span> {
    <span class="text-syntax-fn">remove</span>(id).<span class="text-syntax-keyword">await</span>;
    <span class="text-syntax-type">StatusCode</span>::<span class="text-syntax-fn">NO_CONTENT</span>
}
